/* menu-icon-toggle --> http://codepen.io/mauriceconchis/pen/yJLOgp */
@import 'menu-icon-toggle.css';
@font-face {
    font-family: kepler;
    src: url(fonts/kepler.ttf);
}

@font-face {
    font-family: dubiel;
    src: url(fonts/dubiel.ttf);
}
@font-face {
    font-family: Abhaya;
    src: url(fonts/AbhayaLibre-Regular.ttf);
}
.menu-icon-toggle {
  display: none;
  user-select:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
}

.justificado {
  text-align: left;
}

body {
    font-family: Abhaya;;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, .02);
    line-height: 1.4;
    letter-spacing: 0;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
    font-family: kepler-std;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    color: #737373;
}

h2 {
    font-size: 1.0rem;
    letter-spacing: 2px;
    margin: 0;
    font-family: kepler-std;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    color: #737373;
}

a {
  text-decoration: none;
}

section.portada h1 {
    color: white;
    position: absolute;
    z-index: 2;
}

section.portada.album {
    height: calc(100vh - 200px);
    margin-bottom: 20px;
}

p {
    color: #737373;
}

.subtitle {
    font-style: italic;
    margin-top: 10px;
    font-size: 15px;
}

video::-webkit-media-controls {
    display: none !important;
}


/**, *:before, *:after {
  box-sizing: inherit;
}*/

nav {
    display: flex;
    width: calc(100% - 30px);
    padding-left: 15px;
    justify-content: center;
    align-items: center;
}

nav .logo {
    width: 83px;
    height: 74px;
    background-image: url(logo_white.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -15px;
}

ul {
    display: flex;
    padding-left: 0px;
    /* background-color: blue; */
    width: calc(50% - 3vW - 38px);
    text-align: center;
    border-bottom: white;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(228, 228, 228, 0.59);
}

nav ul:nth-of-type(1) {
  justify-content: flex-end;
}

nav ul:nth-of-type(2) {
  justify-content: flex-start;
}

li {
    display: inline-block;
    margin-bottom: 33px;
    /*flex-grow: 1;*/
    flex-grow: 0;
    margin-left: 40px;
    margin-right: 40px;
}

li > a {
    cursor: pointer;
    position: relative;
    color: white;
    padding: 0 0 40px;
    margin: 0 0 0px;
    /* display: block; */
    font-family: myriad-pro;
    font-weight: 600;
    font-size: 1pc;
    letter-spacing: .08em;
}

li > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    display: block;
    transition: .3s;
    transform: scaleX(0);
    background: white;
}

li > a:hover:before, li > a.hover:before {
    transform: scaleX(1);
}

section.portada {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 70px;
}

header.body_header {
    padding-top: 25px;
    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
}

section {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

section.blabla {
    padding-top: 20px;
    width: 730px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section.blabla header {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: #737373;
}
section.blabla iframe {
    margin-top: 25px;
}

@media screen and (max-width: 1000px) {

    .ornaments {
        display: none
    }
    section.blabla iframe {
        width: 100%;
    }

}

section.blabla header:after {
    width: 5pc;
    margin: 40px auto 0;
    content: '';
    display: block;
    border-bottom: 1px dotted silver;
}

section.portada .fb-messengermessageus {
    position: absolute;
    top: calc(100vh - 60px);
    right: 30px;
    z-index: 1000;
}

section#contact .fast-contact {
    margin-top: 20px;
}

section#contact a.fast-contact.wapp {
    margin-left: 30px;
}

@media screen and (max-width: 1000px) {
    section#contact .fast-contact {
        margin-left: 0px;
        display: block;
    }
}
section.portada .fast-contact {
    color: #0dc143;
}

.fast-contact {
    cursor: default;
}
.fast-contact span {
    vertical-align:middle;
    font-family: Times New Roman;
}
.fast-contact img {
    height: 40px;
    vertical-align:middle;
}
section.portada .fast-contact  {
    z-index: 99999;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

section.portada .fast-contact.msn  {
    left: initial;
    right: 20px;
    display: none;
}

section.portada:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(17, 17, 17, .2) 0, rgba(255, 255, 255, 0) 25%);
}

section.portada .content {
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.09);
}

section.portada #scene img,
section.portada #scene video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section.portada #scene {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
}

section.portada #scene .layer {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
  section.portada .fb-messengermessageus {
    top: 25px;
    left: 25px;
    width: 0px !important;
  }
  section.portada .fast-contact span {
    display: none;
  }
  section.portada .fast-contact {
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.41, 1.61);
    bottom: 20px;
  }
  section.portada .fast-contact.wapp {
    left: 20px;
  }
  section.portada .fast-contact.msn {
    right: 20px;
    display: block;
  }
  .open section.portada .fast-contact {
    bottom: -50px; 
  }
  .open section.portada .fast-contact.msn {
    right: -50px;
  }
  .open section.portada .fast-contact.wapp {
    left: -50px;
  }
}

section#sobremi {
  width: 90%; 
  margin-bottom: 50px
}
section#sobremi .img-div {
  display: flex;
}
section#sobremi .img-div img {
  height: 200px;
  /*width: 200px;
  flex-grow: 0;
  flex-basis: 200px;*/
}
section#sobremi .img-div .justificado {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  section#sobremi .img-div  {
    align-items: center;
    flex-direction: column;

  }
  section#sobremi .img-div .justificado {
    margin-left: 0px;
  }
  section#sobremi .img-div .justificado h1 {
    margin-top: 20px;
    text-align: center;
  }
}

.anim-logo {
    object-position: center;
    /* position: absolute; */
    /* top: 25%; */
    /* left: calc(50% - 46.875vw / 2); */
    width: 46.875vw;
    width: 65.875vw;
    /* height: auto; */
    /* margin: 0; */
    z-index: 4;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}

.carousel article {
    cursor: pointer;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #fff;
    transition: transform .25s ease-in-out;
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .06);
    margin-left: 5px;
    margin: 10px;
}

.carousel article:hover {
    transform: scale(1.025);
}

.carousel article img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 33vw;
    margin-bottom: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.carousel article div span {
    margin-bottom: 8px;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    color: #737373;
}

.carousel article div h1 {
    font-weight: 100;
    font-size: 1.71429rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #737373;
    margin-bottom: 10px;
    text-align: center;
}

.carousel article div p {
    max-width: 770px;
    margin: 0 auto 10px;
    line-height: 1.3;
    position: relative;
    padding: 0 20px;
    font-style: italic;
    letter-spacing: 1px;
    color: #737373;
    font-size: 1.14286rem;
    text-align: center;
}

.carousel article div p:after {
    display: block;
    content: "";
}

img.anim-logo {
    display: none;
}

video.anim-logo {
    display: initial;
}

footer {
    background-color: #f3f3f3;
    display: block;
    height: 150px;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    img.anim-logo {
      display: initial;
    }

    video.anim-logo {
      display: none;
    }
    .carousel article {
        flex-basis: 47%;
    }
    .carousel article img {
        width: 100%;
        height: 50vw;
    }
    .anim-logo {
        width: 56.875vw;
    }
    header {
        bottom: 0;
        padding-bottom: 25px;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    nav li {
        right: -500px;
        position: relative;
    }
    .open nav li {
        right: 0;
    }

    nav ul:nth-of-type(1) li:nth-of-type(1) {
        transition: all 0.7s cubic-bezier(0.57, 1.35, 0.43, 1.26);
    }
    nav ul:nth-of-type(1) li:nth-of-type(2) {
        transition: all 0.8s cubic-bezier(0.57, 1.35, 0.43, 1.26);
    }
    nav ul:nth-of-type(2) li:nth-of-type(1) {
        transition: all 0.9s cubic-bezier(0.57, 1.35, 0.43, 1.26);
    }
    nav ul:nth-of-type(2) li:nth-of-type(2) {
        transition: all 1s cubic-bezier(0.57, 1.35, 0.43, 1.26);
    }
    nav ul {
        border-bottom: none;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    nav ul li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    nav ul li a {
        padding: 50px 0px 50px 0px;
        flex-grow: 0;
        width: 100%;
    }

    nav ul:nth-of-type(1) {
        justify-content: space-around;
    }

    nav .logo {
        display: none;
    }
    nav ul li > a:before {
        display: none;
    }
    .menu-shadow {
        /*z-index: 300;
        background: rgba(162, 87, 44, 0.82);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
    }
    .open .menu-shadow {
      display: initial;
    }
    .menu-icon-toggle {
      display: initial;
    }

}

@media screen and (max-width: 800px) {
    .anim-logo {
        width: 94vw;
        position: relative;
        bottom: 13px;
    }
}

@media screen and (max-width: 719px) {
    .carousel article img {
        height: 73vw;
    }
}

/* arrows --> https://codepen.io/postor/pen/mskxI */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}