[Desktop Entry]
Encoding=UTF-8
Name=Link to A Complete Guide to Flexbox | CSS-Tricks
Type=Link
URL=https://css-tricks.com/snippets/css/a-guide-to-flexbox/
Icon=text-html
