[Desktop Entry]
Encoding=UTF-8
Name=Link to Designing A Product Page Layout with Flexbox | CSS-Tricks
Type=Link
URL=https://css-tricks.com/designing-a-product-page-layout-with-flexbox/
Icon=text-html
